{% extends "base.html" %}

{% block title %}Produit{% endblock %}

{% block body %}

<div class="content-wrapper single-article mt-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 col-sm-12">
                <div class="preview-article">
                    <img
                            src="{{ ('/storage/' ~ article.picture) }}"/>

                </div>
                <form method="post">
                    <label for="name">Nouveau nom</label>
                    <input type="text" value="{{article.name}}" name="name">

                    <div class="info">
                        <div class="info-content">
                            <label for="description">Nouvelle description</label>
                            <input type="text" value="{{article.description}}" name="description">
                        </div>
                        <div class="u-area mt-small">

                        <!--<button name="save"  class="btn btn-primary u-btn"><a href="./update?product_id={{article.id}}">Enregistrer</a></button>-->
                        <button name="save" class="btn btn-primary u-btn" value="{{article.id}}">Enregistrer</button>
                        <a href="/account" class="btn btn-primary u-btn">Retour</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
